*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-color{
    background-color: #222831;
}

.drop-color{
    background-color: #EEEEEE !important;
    
}

.search{
    border-radius: 10px  !important;
    padding-inline: 10px;
    border-style: none;
    transition: 0.4s;
}
.search:hover{
    border-radius: 10px ;
    color: #000000 !important;
    background-color: #76ABAE;

}


.logo-color{
    padding-right: 50px !important;
    font-size: xx-large !important;
    font-weight: bold;
    color: #EEEEEE !important;
}

.linkes{
    color: #EEEEEE !important;
    border-radius: 5px;
    transition: 0.5s !important;
}

.linkes:hover{
    background-color: #76ABAE;
    color: #000000 !important;
    border-radius: 5px;
}