*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-color{
    background-color: #222831;
}

button{
    border-radius: 20px;
    padding-inline: 10px;
    border-style: none;
    transition: 0.4s;
}

button:hover{
    
    color: #000000;
    background-color: #76ABAE;

}

.logo-color , .linkes{
    color: #EEEEEE;
    transition: 0.4s;
}


.linkes:hover{
    background-color: #76ABAE;
    color: #000000;
    border-radius: 5px;
}